.App {
  /* text-align: center; */
  margin: 0 20px;
}

.jobs_container {
  display: flex;
}

.jobs_container .filters {
  width: 30%;
  background-color: bisque;
}

.jobs_container .jobs_list {
  width: 70%;
  background-color: aqua;
}

/* Style job */

.job {
  min-width: 13rem;
  border: 1px solid;
  margin: 1.5rem;
  padding: 1rem;
  background-color: white;
}

.job .skills {
  list-style: none;
}

.job .skills ul {
  padding: 0;
}

.job .skills ul li {
  list-style: none;
  display: inline;
}

.job .skills .skill {
  border: 1px solid #ffca70;
  margin-right: 10px;
  padding: 2px;
  border-radius: 10px;
}

.job .job_title{
  display: flex;
  justify-content: space-between;
}